@import 'styles/Topnav.css';
@import 'styles/Toolbar.css';
@import 'styles/Menu.css';
@import 'styles/Filters.css';
@import 'styles/Popup.css';
@import 'styles/Reviews.css';

.mobile{
  display: none;
}

/* Footer */
.footer {
  text-align: center;
  padding: 40px 0;
  background-color: #f5f5f7;
  color: #888;
}

.copyright {
  font-size: 14px;
}


@media only screen and (max-width: 1000px) {
  .mobile{
    display: block
  }

  .desktop{
    display: none;
  }

  .mobileNavContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .mobileMenu{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(194, 0, 0);
    gap: 30px;
    transition: 0.2s
  }

  .mobileMenuActive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(194, 0, 0);
    transition: 0.3s;
    gap: 30px;
    top: 40px;
  }
}