.topNav{
  text-align: center;
  /* border: 1px solid red; */
  background-color: #e21833;
}

.blackBorder{
  border: 2px solid black;
}

.blueBorder{
  border: 2px solid blue;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0vw 0vw 5vw 5vw;
}

.topNav > button{
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 2vh 10vh;
  margin: 0px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.25s;
  background-color:  #e21833;
  color: white;
  height: 100%;
}

.navButton:hover {
  background-color: darkred !important;
}

.wrapper > div{
  text-align: center;
  /* border: 1px solid red; */
}

.sidebarBtn{
  width: 100%;
  padding: 3vh 0vh;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  transition: 0.25s;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* .sidebarBtn:hover {
  background-color: rgb(234, 234, 234) !important;
} */

.redBorder{
  display: flex;
  justify-content: center;
}

.sidebar{
  width: 75%;
  box-shadow: 1px 1px 5px lightgray;
  border-radius: 5px;
  height: fit-content;
  border: 1px solid #c2c2c2;
}

.sideWrapper{
  grid-column: 2 / span 3;
}

.menu{
  display: flex;
  justify-content: start;
  height: fit-content;
  flex-wrap: wrap;
  width: 100%;
  gap: calc(2vw)
}

.menuItem{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 280px;
}

.menuItemImage{
  background-color: lightgray;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menuItemNameHolder{
  height: 70px;
  margin: 0;
}

.menuItemName{
  font-size: 3vh;
  margin: 0;
}
.menuItemTagHolder{
  width: 85%;
}
.reviewButtonHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.reviewButton{
  text-align: center;
  margin-left: 5px;
}

.checked {
  color: orange;
}

.filterButton{
  transition: 0.25s;
}

.sectionTitle{
  grid-column: 2 / span 3;
  font-size: 6vh;
  text-align: center;
  /* border: 1px solid red; */
}

.favWrapper{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteBtn{
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 5px lightgray;
  background-color: white;
  border-radius: 5px;
  padding: 3vh 0vh;
  margin: 0;
  width: 75%;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}

.popup-inner{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(255,255,255,1);
  overflow-y: scroll;
}

.closeButtonContainer{
  display: flex;
  justify-content: end;
}

.popup{
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: 3px 3px 5px lightgray;
}

.popupTitle{
  text-align: center;
  margin: 0;
}

.submitAnimation{
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 10%;
  transform: translate(-50%, -50%);
  background-color: rgb(154, 213, 139);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #008000;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.submitAnimationInner{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;

  img{
    width: 30%;
    transform: translate(0, -15%);
  }

  p{
    font-size: 20px;
    font-weight: bold;
    color:  #008000;
  }
}

@keyframes fade {
  0%{
    opacity: 0%
  }
  40%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}

.review-input{
  height: 7.5rem;
  width: 70%;
}

.rating-section{
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
}

.starSection{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-right: 60px;
}

.filterButtonsContainer{
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 10px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.ratingStar{
  font-size: 40px;
  margin-bottom: 5px;
}

.ratingNameInput{
  width: 75%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.ratingSubmitBtn{
  margin: 0;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  transition: 0.25s;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
}

.ratingTitle{
  text-align: left;
  margin-left: 50px;
}

.close-popup{
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.reviewsContainer{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.reviewCard{
  display: flex;
  flex-direction: row;
  /* background-color: #c2c2c2; */
  padding-top: 20px;
  border-top: 1px solid black;
  margin-bottom: 20px;
}

.reviewInformation{
  margin-right: 50px;
  text-align: left;
}

.reviewInformation > p{
  margin: 0;
}

.reviewRatingStar{
  font-size: 20px;
  margin: 0;
}

.reviewText{
  /* border: 1px solid black; */
}

.reviewText > p{
  margin: 0;
}

.filterWrapper{
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.filterButton{
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  background-color: gainsboro;
}

.filterButton:hover{
  opacity: 70%;
}

.mobile{
  display: none;
}

.mobileWrapper{
  display: none;
}
@media screen and (max-width: 1268px) {
  .menu{
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
    width: 100%;
  }
}


@media screen and (max-width: 900px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
    justify-content: center;
  }
  .menu{
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
  }
  .topNav > button{
    border-radius: 0px;
    border: 1px solid transparent;
    margin: 0px;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.25s;
    background-color:  #e21833;
    color: white;
    height: 100%;
  }
  .mobileWrapper{
    display: block;
  }
  .sectionTitle{
    grid-column: 2 / span 3;
    font-size: 6vh;
    text-align: center;
    text-decoration: underline 4px black;
    text-underline-offset: 5px;
  }  
}