.topNav{
  text-align: center;
  /* border: 1px solid red; */
  background-color: red;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0vw 5vw 5vw 5vw;
}

.topNav > button{
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 2vh 10vh;
  margin: 0px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.25s;
  background-color: red;
  color: white;
  height: 100%;
}

.navButton:hover {
  background-color: darkred !important;
}

.wrapper > div{
  text-align: center;
  /* border: 1px solid red; */
}

.sidebarBtn{
  width: 100%;
  padding: 3vh 0vh;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  transition: 0.25s;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* .sidebarBtn:hover {
  background-color: rgb(234, 234, 234) !important;
} */

.redBorder{
  display: flex;
  justify-content: center;
}

.sidebar{
  width: 75%;
  box-shadow: 1px 1px 5px lightgray;
  border-radius: 5px;
  height: fit-content;
  border: 1px solid #c2c2c2;
}

.menu{
  grid-column: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  /* border: 1px solid black; */
}

.menuItem{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
}

.menuItemImage{
  background-color: lightgray;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menuItemNameHolder{
  height: 70px;
  width: 100%;
  margin: 0;
}

.menuItemName{
  font-size: 3vh;
  margin: 0;
}

.menuItemTagHolder{
  width: 90%;
}
.reviewButtonHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.reviewButton{
  text-align: center;
  margin-left: 5px;
}

.checked {
  color: orange;
}

.sectionTitle{
  grid-column: 2 / span 3;
  font-size: 6vh;
  text-align: center;
  /* border: 1px solid red; */
}

.favWrapper{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteBtn{
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px lightgray;
  background-color: white;
  border-radius: 5px;
  padding: 3vh 0vh;
  margin: 0;
  width: 75%;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}

.popup-inner{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(255,255,255,1);
  overflow-y: scroll;
  text-align: right;
}

.popup{
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: 3px 3px 5px lightgray;
}

.popupTitle{
  text-align: center;
  margin: 0;
}

.review-input{
  height: 7rem;
  width: 70%;
}

.rating-section{
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
}

.starSection{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-right: 60px;
}

.ratingStar{
  font-size: 40px;
  margin-bottom: 5px;
}

.ratingNameInput{
  width: 75%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.ratingSubmitBtn{
  width: 50%;
}

.ratingTitle{
  text-align: left;
  margin-left: 50px;
}

.close-popup{
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
}