.filterTitle {
  text-align: center;
  margin: 0px;
}

.filterButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterButton {
  color: #333;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  transition: 0.25s;
  background-color: white;
}

.checkbox{
  margin-right: 10px;
}

.filterOptions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}